* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Cardo', serif;
  color: #c0ccd4;
  background-color: #484d5c;
}
a {
  text-decoration: none;
  color: #ffce00;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style: none;
  margin: 1.3rem 0;
  line-height: 1.3;
}
h1, h2 {
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
 color: #fff;
}
h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
h2 {
  font-size: 1.3rem;
  margin: 1.3rem 0;
}
main {
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
}